{{#if messages.success}}
{{#each messages.success }}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{this}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
{{/if}}
{{#if messages.info}}
{{#each messages.info }}
<div class="alert alert-primary alert-dismissible fade show" role="alert">
    {{this}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
{{/if}}
{{#if messages.error}}
{{#each messages.error }}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{this}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
{{/if}}






