*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
}

#board{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);
}

.cell{
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    margin: 0.5px;   
}

.cell.contains_piece{
    background-color: green;
}

.cell.valid_move_cell{
    background-color: yellow;
}