<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrapHeader}}
    <title>Home</title>
</head>
<body>
    {{> logs}}
    {{> userHeader}}
    <button>Create New Game</button>
    <button>Join A Game</button>
    <button>Watch A Game</button>
    <button>Resume Previous Games</button>
    <button>LeaderBoard</button>
    {{> bootstrapFooter}}
</body>
</html>