<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrapHeader}}
    <title>Home</title>
</head>
<body>
    {{> logs}}
    {{> userHeader}}
    <div class="container text-center">
        <ul class="list-group text-center list-unstyled">
        <li><button class="btn btn-primary menu_btn m-2 col-lg-3 col-md-4 col-8 mx-auto">Create New Game</button>></li>
        <li><button class="btn btn-primary menu_btn disabled m-2 col-lg-3 col-md-4 col-8 mx-auto">Join a Game</button>></li>
        <li><button class="btn btn-primary menu_btn disabled m-2 col-lg-3 col-md-4 col-8 mx-auto">Watch a Game</button>></li>
        <li><button class="btn btn-primary menu_btn disabled m-2 col-lg-3 col-md-4 col-8 mx-auto">Open Previous Games</button>></li>
        <li><button class="btn btn-primary menu_btn disabled m-2 col-lg-3 col-md-4 col-8 mx-auto">Leaderboard</button>></li>
        <li><button class="btn btn-primary menu_btn disabled m-2 col-lg-3 col-md-4 col-8 mx-auto">Instructions</button>></li>
        </ul>
    </div>
    {{> bootstrapFooter}}
</body>
</html>