<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h3>Welcome {{username}} </h3>
    <button>Create New Game</button>
    <button>Join A Game</button>
    <button>Watch A Game</button>
    <button>Resume Previous Games</button>
    <button>LeaderBoard</button>
</body>
</html>