<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kickOut</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/jquery.js"></script>
    <script  src="/public/js/setup_board.js"></script>
    <script  src="/public/js/manage_player_turn.js"></script>
    <script  src="/public/js/moving_pieces.js"></script>
</head>
<body>
    <div id="board">
        <div class="out_cell" id="0_0"></div>
        <div class="out_cell" id="0_1"></div>
        <div class="out_cell" id="0_2"></div>
        <div class="out_cell" id="0_3"></div>
        <div class="out_cell" id="0_4"></div>
        <div class="out_cell" id="0_5"></div>
        <div class="out_cell" id="1_0"></div>
        <div class="cell" id="1_1"></div>
        <div class="cell" id="1_2"></div>
        <div class="cell" id="1_3"></div>
        <div class="cell" id="1_4"></div>
        <div class="cell" id="1_5"></div>
        <div class="out_cell" id="2_0"></div>
        <div class="cell" id="2_1"></div>
        <div class="cell" id="2_2"></div>
        <div class="cell" id="2_3"></div>
        <div class="cell" id="2_4"></div>
        <div class="cell" id="2_5"></div>
        <div class="out_cell" id="3_0"></div>
        <div class="cell" id="3_1"></div>
        <div class="cell" id="3_2"></div>
        <div class="cell" id="3_3"></div>
        <div class="cell" id="3_4"></div>
        <div class="cell" id="3_5"></div>
        <div class="out_cell" id="4_0"></div>
        <div class="cell" id="4_1"></div>
        <div class="cell" id="4_2"></div>
        <div class="cell" id="4_3"></div>
        <div class="cell" id="4_4"></div>
        <div class="cell" id="4_5"></div>
        <div class="out_cell" id="5_0"></div>
        <div class="cell" id="5_1"></div>
        <div class="cell" id="5_2"></div>
        <div class="cell" id="5_3"></div>
        <div class="cell" id="5_4"></div>
        <div class="cell" id="5_5"></div>
    </div>
    <div class="player_1_turn active_player">Player 1</div>
    <dv class="player_2_turn">Player 2</dv>
    <div id="win_message">
        <button type="submit">Restart</button>
    </div>
</body>
</html>