<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{> bootstrapHeader}}
    <title>KickOut</title>
</head>

<body>
    <h1>Welcome to KickOut</h1>
    {{> logs}}
    <h2>LogIn to the System Here</h2>

    <div id="login_form_box">
        <form method="POST" action="/user/login" id="login_form">
            <input type="text" name="email" class="" id="email_form" placeholder="Email">
            <input type="password" name="password" class="" id="password_form" placeholder="Password">
            <input type="submit" value="LogIn" class="btn btn-primary" id="login_form_btn">
        </form>
    </div>

    <h2>Create New Account Here Here</h2>
    <div id="signup_form_box">
        <form action="/user/signup" method="post" id="signup_form">
            <input type="text" name="firstName" id="firstname_form" placeholder="firstName"
                value={{formData.firstName}}>
            <input type="text" name="lastName" id="lastname_form" placeholder="lastName (Optional)"
                value={{formData.lastName}}>
            <br>
            <input type="text" name="username" id="username_form" placeholder="UserName" value={{formData.username}}>
            <br>
            <input type="text" name="email" id="email_form" placeholder="Email" value={{formData.email}}>
            <br>
            <input type="submit" value="Create" class="btn btn-primary" id="Create">
        </form>
    </div>
    {{> bootstrapFooter}}
</body>

</html>