<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{> bootstrapHeader}}
  <title>Set Password</title>
</head>

<body>
  {{> logs}}
  <form action="/user/setPassword" method="post">
    <input type="password" name="password" id="" placeholder="Enter New Password">
    <input type="password" name="password2" id="" placeholder="Re-enter New Password">
    <input type="submit" value="Set">
  </form>

  {{> bootstrapFooter}}
</body>

</html>