*, *::before, *::after{
    box-sizing: border-box;
}

body {
    margin: 0;
}

#board{
    width: 80vw;
    height: 80vh;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(6, auto);
}

.cell{
    width: 200px;
    height: 80px;
    background-color: white;
    border: 1px solid black;
    margin: 0.5px;   
}

.out_cell{
    width: 200px;
    height: 80px;
    background-color: white;
    margin: 0.5px;   
}

.cell.selected_piece{
    background-color: orange;
}


.cell.valid_move_cell{
    background-color: yellow;
}

.out_cell.valid_move_cell{
    background-color: red;
}

.top_cell{
    border-top: none;
}

.left_cell{
    border-left: none;
}

.player_1_turn, .player_2_turn, .player_1_win, .player_2_win{
    display: inline-block;
    width: 100px;
    height: 50px;
}

.active_player, .predicted_winner{
    background-color: green;
    color: white;
}

.game_piece{
    display:inline-block;
}

.selected_cell{
    background-color: orange;
}

.selected_game_piece > svg{
    border-radius: 100px;
    box-shadow:
    0 0 60px 5px #fff,  /* inner white */
    0 0 100px 15px #f0f, /* middle magenta */
    0 0 140px 20px #0ff; /* outer cyan */
}